@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&family=Raleway:wght@100&display=swap');




/* ---------------------------------------------------------- */
/* home page */
.hero-image{
    height: 80vh;
    position: relative;
    width: 1200px;
    margin-left: 150px;
    margin-right: 200px;
    border-radius: 100px;
}

.col-boxlogonav{
    width: 50px;
    height: 50px;
    background-image: url(../assets/DV\ 100\ -\ Class\ 4\ \(1\).png);
    background-position: center;
    background-size: cover;

    
}


/* checkout page */
body {
    font-family: Arial, sans-serif;
    
  }
  
  h1 {
    text-align: center;
  }
  
  .order-summary {
    margin-bottom: 20px;
  }
  
  .coupon-section {
    margin-bottom: 20px;
  }
  
  .coupon-section input {
    width: 200px;
    padding: 5px;
  }
  
  .total-section {
    text-align: center;
  }
  
  .total-section h2 {
    margin-bottom: 5px;
  }
  
  .total-section p {
    font-weight: bold;
    font-size: 20px;
  }
  #apply-coupon-btn{
    background-color: black;
    color: white;
    margin-top: 20px;
  }
  #pay-total-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6DB5CA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-control{
    margin-left: 100px;
    margin-top: 40px;
  }
  #pay-total-btn:hover {
    background-color: #FF7235;
  }
  
  .order-summary{
    text-align: center;
    
  }
  
  .coupon-section{
    text-align: center;
  }
  
  .col-boxform{
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    border: 10px #1c5c34;
    border-radius: 10px #1c5c34 ;
  }

  
  


/* carousel */
.col-boxcarousel{
    background-color: white;
    height: 170px;
    width: 1950px;
    opacity: 70%;
    margin-bottom: -140px;
    margin-left: -80px;
    font-family: 'Crimson Pro', serif;
    color: #6DB5CA;

}

.carousel-control-prev{
    width: 70px;
    border-radius: 50%;
    height: 70px;
    margin-top: 250px;
    margin-left: 60px;
    background-color: #FF7235;
    
}

.carousel-control-next{
    width: 70px;
    height: 70px;
    margin-top: 250px;
    background-color: #FF7235;
    margin-right: 30px;
    border-radius: 50%;
}

/* col-boxes for weather api and more about us section */

.col-boxweather{
    width: 500px;
    height: 300px;
    background-color: #FF7235;
    margin-left: 180px;
    margin-top: 120px;
    border-radius: 50px;
}
.weather-widget {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
    color: white;
font-family: 'Raleway', sans-serif;

}

.col-boxmore{
    width: 500px;
    height: 300px;
    background-color: #6DB5CA;
    margin-top: 140px;
    margin-left: 50px;
    border-radius: 50px;
font-family: 'Raleway', sans-serif;

    
}
.accordion{
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

}

/* col-boxes for images */

.col-boximage1{
    width: 300px;
    height: 300px;
    background-image: url(../assets/image\ 1.png);
    background-position: center;
    background-size: cover;
    margin-left: 148px;
    margin-top: 70px;
}
.col-boximage2{
    width: 300px;
    height: 300px;
    background-image: url(../assets/image\ 2.png);
    background-position: center;
    background-size: cover;
    margin-left: 80px;
    margin-top: 70px;
}
.col-boximage3{
    width: 300px;
    height: 300px;
    background-image: url(../assets/image\ 3.png);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    margin-top: 70px;
}
.col-boximage4{
    width: 300px;
    height: 300px;
    background-image: url(../assets/image\ 4.png);
    background-position: center;
    background-size: cover;
    margin-left: -60px;
    margin-top: 70px;
}

/* footer */

.col-boxlogo{
    background-image: url(../assets/DV\ 100\ -\ Class\ 4.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

.col-boxfooter{
    width: 99%;
    height: 200px;
    background-color: #B8D8E0;
    margin-top: 50px;
    font-family: 'Crimson Pro', serif;


}

.col-boxf1{
    width: 180px;
    height: 160px;
    color: #6DB5CA;
    margin-top: 20px;
    margin-left: 0px;

}
.col-boxf2{
    width: 180px;
    height: 160px;
    color: #6DB5CA;
    margin-top: 20px;
    margin-left: -200px
}
.col-boxf3{
    width: 200px;
    height: 160px;
    color: #6DB5CA;
    margin-top: 20px;
    margin-left: -400px
}
.col-boxf4{
    width: 300px:
    height: 120px;
    margin-left: 1100px;
    margin-top: -60px;

}

.col-boxsocial1{
    width: 60px;
    height: 60px;
    background-image: url(../assets/facebook.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 0px;
}
.col-boxsocial2{
    width: 60px;
    height: 60px;
    background-image: url(../assets/instagram.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: -60px;
}
.col-boxsocial3{
    width: 60px;
    height: 60px;
    background-image: url(../assets/twitter.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -60px;
}

/* -------------------------------------------------------------------------------------- */
/* trips page */

/* card trips */

.card {
    border-radius: 50px;
    background: #F3F3F3;
    text-align: center;
    height: 480px;
    border: none;
    width: 400px;
}

.card-img-top {
    width:400px;
    height:320px;
    margin: auto;
    border-radius: 50px 50px 0px 0px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #6DB5CA;
}

/* -------------------------------------------------------------------------------------- */
/* checkout page */

/* rows of trips */

.table{
    margin-top: 50px;
    background-color: #B8D8E0;
    border-top-color: ;

}


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    background-color: #B8D8E0;
  }
  .top-wishlist{
    padding-top: 100px;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  .remove-button {
    background-color: #FF7235;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
  }

